
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımda</h3>
            <img src="~/web/images/Mine.png" alt="" />
            <p>Kastamonu Üniversitesi 3 Sınıf Matematik Bölümü Öğrencisiyim. 2020 Ağustos ayında (Karantina Sürecinde , Sanırım Karantina Bir Tek Bana yaradı :D  ) C# programlama dili ile yazılıma adım attım Şuan bir oran verilmek gerekirse %65 oranında C# öğrendim C# yanında Sql,AspNet,Html ... Ve Bu proje Sanal Ortamda yayınladığım ilk proje :)  ama hala tam değil geliştirilebilir ve ben geliştireceğim henüz çok yeniyim ama çokça da hevesliyim hedefim çok iyi bir DotNet Core'cu olmak çok iyi bir Devoloper olmak ... I hopeee :) </p>
        </div>
    </div>
</div>


