
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="indent-left margin-bot">
  
</h3>

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>İletişim</h3>
           
            <p>
                ASPNet Mvc5 kullarak Geliştirdiğim
                <br />
                
                Tatil Seyahat Sitesi Projesini
                <br />
               
                04.05.2021 Tarihinde bitirmiş bulunmaktayım
                <br />
               
                İletişim:+90 05078736049
                <br />
               
                Mail:minetopcuoglu6@gmail.com
                <br />
            </p>
        </div>
    </div>
</div>
    


